/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0;
}

/* Container principal (menu + conteúdo) */
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Navegação à Esquerda (30% da tela) */
.nav {
  width: 15%;  /* 30% da tela */
  background-color: #ff6f00;
  padding-top: 30px;
  padding: 20px;
  height: 100vh; /* Ocupa toda a altura da tela */
  overflow-y: auto;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li {
  margin: 40px 0;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 15px;
  display: block;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.nav ul li a:hover {
  background-color: #e65c00;
  border-radius: 6px;
}

.content {
  width: 100%;
  padding: 20px;
  height: 100vh; 
  overflow-y: auto; 
}

h1 {
  color: #ff6f00;
  margin: 20px;
}

.cliente-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  width: 350px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cliente-card h2 {
  color: #ff6f00;
  font-size: 1.5rem;
}

.cliente-card p {
  font-size: 1rem;
  color: #333;
}

.cliente-card button {
  background-color: #ff6f00;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.cliente-card button:hover {
  background-color: #e65c00;
}

.image-box {
  width: 550px;           
  height: 200px;         
  background-color: #e0e0e0;
  margin: 20px auto;      
  overflow: hidden;      
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-background{
    width: 1450px;          
  height: 900px;        
  background-color: #e0e0e0;
  margin: 20px auto;      
  overflow: hidden;      
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 100%;            /* Ajusta a largura da imagem para 100% da div */
  height: auto;           /* Mantém a proporção da imagem */
  object-fit: contain;    /* Ajusta a imagem para caber dentro da div */
}